            <table class="table table-condensed" style="font-size: 0.8em">
                <htead>
                    <th>Highest balance accounts</th>
                    <th>Type</th>
                    <th>Balance</th>
                </htead>
                <tbody>
                <!-- ko foreach: topAccounts -->
                <tr data-bind="component: {
                                        name: 'account-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>

    Total system balance: <span data-bind="text: totalBalance"></span> coins

