<div class="container">

    <div class="row">
        <div class="col-md-4 col-height"><div class="bordered">
            <div id="cy"></div>
        </div></div>
        <div class="col-md-4 col-height"><div class="bordered">
            <table width="100%" cellpadding="10px">
                <tbody>
                <tr>
                    <td width="50%" align="right" style="padding-right: 20px"><h2 data-bind="css: statWindow[0].count_col"><span data-bind="numericText: statWindow[0].count"></span><span class="glyphicon" data-bind="css: statWindow[0].count_icon"></span></h2></td>
                    <td width="50%"><h2>tx/sec</h2></td>
                </tr>
                <tr>
                    <td width="50%" align="right" style="padding-right: 20px"><h2 data-bind="css: statWindow[0].volume_col"><span data-bind="numericText: statWindow[0].volume"></span><span class="glyphicon" data-bind="css: statWindow[0].volume_icon"></span></h2></td>
                    <td width="50%"><h2>coin/sec</h2></td>
                </tr>
                <tr>
                    <td width="50%" align="right" style="padding-right: 20px"><h2 data-bind="css: statWindow[0].active_debit_col"><span data-bind="text: statWindow[0].active_debit"></span><span class="glyphicon" data-bind="css: statWindow[0].active_debit_icon"></span></h2></td>
                    <td width="50%"><h3>accounts debited</h3></td>
                </tr>
                <tr>
                    <td width="50%" align="right" style="padding-right: 20px"><h2 data-bind="css: statWindow[0].active_credit_col"><span data-bind="text: statWindow[0].active_credit"></span><span class="glyphicon" data-bind="css: statWindow[0].active_credit_icon"></span></h2></td>
                    <td width="50%"><h3>accounts credited</h3></td>
                </tr>
                </tbody>
            </table>
        </div></div>
        <div class="col-md-4 col-height"><div class="bordered" style="font-size: 0.8em">
            Transactions/second<br>
            <canvas id="chartCanvas1" width="300" height="120"></canvas>
            Coins/second<br>
            <canvas id="chartCanvas2" width="300" height="120"></canvas>
        </div></div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-condensed" style="font-size: 0.8em">
                <thead>
                <th>Timestamp</th>
                <th><nobr>Tx id</nobr></th>
                <!-- <th>Type</th> -->
                <th>From account</th>
                <th>To account</th>
                <th>Amount</th>
                <th>Description</th>
                </thead>
                <tbody>
                <!-- ko foreach: lastTransactions -->
                <tr data-bind="component: {
                                        name: 'transaction-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-condensed" style="font-size: 0.8em">
                <thead>
                <th>Most active accounts</th>
                <th>tx/sec</th>
                <th>coins/sec</th>
                </thead>
                <tbody>
                <!-- ko foreach: topAccTxVol -->
                <tr data-bind="component: {
                                        name: 'account-log-summary',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>

            <account-totals></account-totals>


        </div>
    </div>


    <!-- optional error -->
    <div class="alert alert-danger" data-bind="visible: error, text: error"></div>

</div>
