<!-- Template for transaction panel -->

<div id="cy"></div>

<div class="container">
    <div class="row">

        <div class="col-md-11">
                <table class="table">
                    <thead>
                        <th>Period</th>
                        <th>Transactions</th>
                        <th>Volume</th>
                        <th>Debited accounts</th>
                        <th>Credited accounts</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Realtime</td>
                        <td data-bind="numericText: statRealtime.count"></td>
                        <td data-bind="numericText: statRealtime.volume"></td>
                        <td data-bind="numericText: statRealtime.active_debit"></td>
                        <td data-bind="numericText: statRealtime.active_credit"></td>
                    </tr>
                    <tr>
                        <td><span data-bind="numericText:TX_WINDOW_SEC[0]"></span> seconds</td>
                        <td data-bind="numericText: statWindow[0].count"></td>
                        <td data-bind="numericText: statWindow[0].volume"></td>
                        <td data-bind="numericText: statWindow[0].active_debit"></td>
                        <td data-bind="numericText: statWindow[0].active_credit"></td>
                    </tr>
                    <tr>
                        <td><span data-bind="numericText:TX_WINDOW_SEC[1]"></span> seconds</td>
                        <td data-bind="numericText: statWindow[1].count"></td>
                        <td data-bind="numericText: statWindow[1].volume"></td>
                        <td data-bind="numericText: statWindow[1].active_debit"></td>
                        <td data-bind="numericText: statWindow[1].active_credit"></td>
                    </tr>
                    </tbody>
                </table>
        </div>

    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Realtime transaction log
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <thead>
                    <th>Timestamp</th>
                    <th>Transaction id</th>
                    <th>Type</th>
                    <th>From account</th>
                    <th>To account</th>
                    <th>Amount</th>
                    <th>Description</th>
                </thead>
                <tbody>
                <!-- ko foreach: lastTransactions -->
                <tr data-bind="component: {
                                        name: 'transaction-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Top transactions
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <thead>
                    <th>Timestamp</th>
                    <th>Transaction id</th>
                    <th>Type</th>
                    <th>From account</th>
                    <th>To account</th>
                    <th>Amount</th>
                    <th>Description</th>
                </thead>
                <tbody>
                <!-- ko foreach: topTx -->
                <tr data-bind="component: {
                                        name: 'transaction-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Top accounts (tx count)
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <thead>
                    <th>Account number</th>
                    <th>Tx Count</th>
                    <th>Tx Volume</th>
                    <th>Credit</th>
                    <th>Debit</th>
                </thead>
                <tbody>
                <!-- ko foreach: topAccTxCnt -->
                <tr data-bind="component: {
                                        name: 'account-log-summary',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Top accounts (tx volume)
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <thead>
                <th>Account number</th>
                <th>Tx Count</th>
                <th>Tx Volume</th>
                <th>Credit</th>
                <th>Debit</th>
                </thead>
                <tbody>
                <!-- ko foreach: topAccTxVol -->
                <tr data-bind="component: {
                                        name: 'account-log-summary',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Top accounts (credit)
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <thead>
                <th>Account number</th>
                <th>Tx Count</th>
                <th>Tx Volume</th>
                <th>Credit</th>
                <th>Debit</th>
                </thead>
                <tbody>
                <!-- ko foreach: topAccCredit -->
                <tr data-bind="component: {
                                        name: 'account-log-summary',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Top accounts (debit)
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <thead>
                <th>Account number</th>
                <th>Tx Count</th>
                <th>Tx Volume</th>
                <th>Credit</th>
                <th>Debit</th>
                </thead>
                <tbody>
                <!-- ko foreach: topAccDebit -->
                <tr data-bind="component: {
                                        name: 'account-log-summary',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- optional error -->
    <div class="alert alert-danger" data-bind="visible: error, text: error"></div>

</div>