    <td data-bind="text: data.timestamp_local"></td>
    <td data-bind="text: data.transaction_id"></td>
<!--    <td data-bind="text: data.type"></td> -->
    <td data-bind="text: data.from"></td>
    <td data-bind="text: data.to"></td>
    <td data-bind="text: data.amount"></td>
    <td data-bind="text: data.description"></td>
